<div class="container">

  <div class="row">
    <div class="col">
      <h1>To-Do</h1>

      <!-- Beginning of form group -->
      <form [formGroup]="todoForm" (ngSubmit)="processForm()">

        <label for="description">Description:
          <input type="text" formControlName="description">
        </label>
        <br>

        <label for="priority">Priority:
          <input type="radio" formControlName="priority" value="High"> High
          <input type="radio" formControlName="priority" value="Medium"> Medium
          <input type="radio" formControlName="priority" value="Low"> Low
        </label>
        <br>

        <label for="dueDate">Due:
          <input type="date" formControlName="dueDate">
        </label>
        <div *ngIf="todoForm.get('dueDate').hasError('dueDateInvalid')" class="text-danger">Due date invalid!</div>
        <br>

        <button type="submit" [disabled]="todoForm.invalid">Add</button>

      </form>
      <!-- Ending of form group -->
      
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h1>Tasks</h1>
      <table>
        <tr *ngFor="let task of tasks">
          <td>
            {{task.description}}<br>
            {{task.priority}}<br>
            {{task.dueDate}}<br>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>